<%= form_with(model: todo, local: true) do |form| %>

  <% if todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
      <% todo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_area :content, id: :todo_content, class: 'textarea', placeholder: 'Type your todo contents here' %>
  </div>

  <div class="field">
    <%= form.label :assigned_to_member_id %> <br>
    <%= form.select :assigned_to_member_id, options_for_select(member_hash, todo.assigned_to_member_id), prompt: 'Assign to a member?', id: :todo_assigned_to_member_id %>
  </div>

  <div class="field">
    <%= form.label :deadline %> <br>
    <%= form.number_field :deadline, id: :todo_deadline %>
  </div>

  <div class="field">
    <%= form.label :completed %>
    <%= form.check_box :completed, id: :todo_completed %>
  </div>

  <div class="field">
    <%= form.label :trashed %>
    <%= form.check_box :trashed, id: :todo_trashed %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
